{% load pygems_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
	<div id="content">
		{% block content %}
			<h1>I'm from base page </h1>
		{% endblock %}
	</div>
	<div id="sidebar">
		<h2>from base page</h2>
		<p>This is My blog I'have written {% total_posts %} posts so far</p>
	</div>
</body>
</html>